body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/fondoFormulaio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}