
#formAlumno input[type="submit"]:hover{
    background-color: rgb(162, 162, 255);
}

#formAlumno .inptLabe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btnCamara{
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: auto 25%;
    background-color: #f8f8f8;
    cursor: pointer;
}


#formAlumno input[type="text"], #formAlumno input[type="date"], #formAlumno input[type="password"]{
    width: 50%;
}